body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

h1 a {
    text-decoration: none;
    color: #4F4F4F;
}

h1 a:hover {
    text-decoration: underline;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post h2 a,
.message a {
    text-decoration: none;
    color: #333;
}

.post h2 a:hover,
.message a:hover {
    text-decoration: underline;
}

.post p {
    margin: 10px 0;
}

.message {
    background-color: #EEF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

.message h2 {
    margin-top: 0;
}

.message p {
    margin: 10px 0;
}

.navbar {
    text-align: center;
    padding: 10px 0;
    white-space: nowrap
}

.navbar a {
    color: white;
    background-color: lightgrey;
    text-decoration: none;
    display: inline-block;
    width: 33%;
    padding: 10px 0;
    border-radius: 8px;
}

.navbar a:hover {
    background-color: dimgrey;
}

.post-actions {
    display: block;
}

.post-actions form {
    display: inline;
}

.post-actions a {
    text-decoration: none;
}