<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- block title %}My Flask Blog{%- endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/add">Add Post</a>
        </div>
        <h1><a href="/">Welcome to My Flask Blog!</a></h1>
    </header>
    <main>
        {%- block content %}{%- endblock %}
    </main>
    <footer>{%- block footer %}{%- endblock %}</footer>
</body>
</html>