{%- if post is not defined %}
{%- set action_url = url_for('add') %}
{%- set post_author = "" %}
{%- set post_title = "" %}
{%- set post_content = "" %}
{%- set submit_action = "Add Post" %}
{%- else %}
{%- set action_url = url_for('update', post_id=post.id) %}
{%- set post_author = post.author %}
{%- set post_title = post.title %}
{%- set post_content = post.content %}
{%- set submit_action = "Update Post" %}
{%- endif %}
<h3>{{ subtitle }}</h3>
<div id="add-update-form-wrapper" class="form">
    <form action="{{ action_url }}" method="POST">
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{ post_author }}"><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ post_title }}"><br>
        <label for="content">Content:</label><br>
        <textarea rows=15 id="content" name="content">{{ post_content }}</textarea><br>
        <input class="button" type="submit" value="{{ submit_action }}">
    </form>
</div>